@rendermode InteractiveServer
@page "/BuyAmount"
@using API
@inject IDataService DataService;


<h3>Buy Amount</h3>

<b>Set Amount</b>
<InputNumber @bind-Value="Amount"></InputNumber>
<b>Calculated Total</b>
<i>@(DataService.TotalPurchaseString(DataService.GetTotalPurchase(Amount, Asks)))</i>

@code {


    [Parameter]
    public OrderLine[] Asks { get; set; }

    double Amount;
}