@rendermode InteractiveServer
@page "/SnapshotTable"
@using API

<div class="container">
    <h3>Snapshot Table (all items)</h3>
    <div class="row">
        <div class="col-sm">
            Bids
            <table class="table table-bordered">
                <thead>
                <th>Price</th>
                <th>Amount</th>
                </thead>
                @foreach (var bid in Bids.OrderByDescending(b => b.Price).ToArray())
                {
                    <tr>
                        <td class="col-lg">@bid.Price</td>
                        <td class="col-lg-6">@bid.Amount.ToString("0.#####")</td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-sm">
            Asks
            <table class="table table-bordered">
                <thead>
                <th>Price</th>
                <th>Amount</th>
                </thead>
                @foreach (var bid in Asks.OrderBy(b => b.Price).ToArray())
                {
                    <tr>
                        <td class="col-lg-4">@bid.Price</td>
                        <td class="col-lg-12">@bid.Amount.ToString("0.#####")</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>


@code {
    [Parameter]
    public OrderLine[] Bids { get; set; }
    [Parameter]
    public OrderLine[] Asks { get; set; }
}