@rendermode InteractiveServer
@page "/SnapshotTable"
@using API

<h3>SnapshotTable</h3>
<div class="container">
  <div class="row">
    <div class="col-sm">
   <table class="table table-bordered">
       <thead>
       <th>Price</th>
       <th>Amount</th>
       </thead>
       @foreach (var bid in Bids.OrderBy(b=>b.Price).ToArray())
       {
           <tr>
               <td class="col-md-6">@bid.Price</td>
               <td class="col-md-6">@bid.Amount</td>
           </tr>
       }
   </table>   
    </div>
    <div class="col-sm">
  
<table class="table table-bordered">
    <thead>
        <th>Price</th>
        <th>Amount</th>
    </thead>
        @foreach (var bid in Asks.OrderByDescending(b=>b.Price).ToArray())
        {
            <tr>
                <td class="col-md-6">@bid.Price</td>
                <td class="col-md-6">@bid.Amount</td>
            </tr>
        }
</table>    
    </div>

  </div>
</div>


@code {
    [Parameter]
    public OrderLine[] Bids { get; set; }
    [Parameter]
    public OrderLine[] Asks { get; set; }
}